ul {
  list-style: none;
  padding: 0;
}

li {
  border-bottom: 1px solid gray;
}

li:last-child {
  border-bottom: none;
}

label {
  margin-right: 0.25rem;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-image: url(https://www.nasa.gov/sites/all/themes/custom/nasatwo/images/nasa-logo.svg);
  background-repeat: no-repeat;
  padding-left: 100px;
}

.App-list {
  padding: 1rem;
  background-color: whitesmoke;
}

.App-list-controls {
  display: flex;
}

.App-list-control {
  display: flex;
}

.App-list-entry-title {
  display: flex;
  justify-content: space-between;
}

.App-list-entry-body {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.App-title-clickable {
  cursor: pointer;
}


.App-Manifest {
  padding: 1.2rem;
}

.App-Photo-Viewer {
  display: flex;
  background-color: black;
  padding: 20px 10px;
}

.App-Photo-wrp {
  display: flex;
  justify-content: center;
}

.App-Photo-list {
  width: 50%;
  max-height: 600px;
  overflow-y: scroll;
}

.App-Photo-list ul {
  padding: 5px;
  background-color: darkgrey;
}

.App-Photo-list li {
  margin-bottom: 1rem;
  cursor: pointer;
  color: antiquewhite;
  background-color: black;
  border-top: black 1px solid;
  border-left: black 1px solid;
  border-right: black 1px solid;
}

.App-Photo-list li:hover {
  border: ghostwhite 1px solid;
}

.App-Photo-wrp-img {
  width: 100px;
  margin-left: -20px;
}

.App-Photo-wrp-img img {
  width: 100%;
}

.App-Photo-list .App-Photo-text {
  width: 50%;
  padding-left: 40px;
}

.App-Photo-Selected {
  padding: 18px 5px 0px 18px;
  width: 50%;
}

.App-Photo-Selected img {
  width: 100%;
}